.container > * {
  margin: 0 0 1em;
}

.form-group{
  display:flex;
  flex-direction: column;
  gap:0.2em;
}

.btn {
  align-self: flex-end;
}

.usageBar{
  position:relative;
  height: 1.5em;
  width: 100%;
}

.bar{
  position: absolute;
  top:0;
  left:0;
  height: 1.5em;
}

.usageBar > span{
  position: relative;
  display: block;
  width: 100%;
  z-index: 10;
}
